<.link
  href={~p"/export"}
  class="text-stone-900 border-2 rounded p-2 hover:border-green-500 transition"
>
  Export
</.link>

<.simple_form :let={f} for={@conn} action={~p"/import"} multipart>
  <.input
    field={f[:files]}
    type="file"
    label="File(s)"
    multiple
    required
    {[{"multiple", true}, {"directory", true}, {"webkitdirectory", true}]}
  />
  <:actions>
    <.button>Import</.button>
  </:actions>
</.simple_form>
